.primary-background{
    background-color: #c54e2d;
}

.secondary-background{
    background-color: #85DCB8;
}

.jetblack-background{
    background-color: #111;
}

.alternate-background{
    background-color: #f7a9c2;
}

.lightred-background{
    background-color: #f0506e;
}

.secondary-alt-background{
    background-color: #41B3A3;
}

.white-text{
    color: #ffffff;
}

.secondary-text{
    color: #85DCB8;
}

.default-text{
    color: #E8A87C;
}

.alternate-text{
    color: #C38D9E;
}

.secondary-alt-text{
    color: #41B3A3;
}

.required{
    color: red;
}

#re_info > div > .uk-card{
    height: 325px; 
    overflow-y: scroll;
}

#re_info > div > .uk-card > div{
    height: 50px;
    display: flex;
    flex-direction: column;
    justify-content: end;
}

::-webkit-scrollbar{
    width: 10px;
}

::-webkit-scrollbar-track{
    background-color: transparent;
}

::-webkit-scrollbar-thumb{
    background-color: #1e87f0;
    border-radius: 10px;
    border: 2px solid transparent;
    background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover{
    background-color: #2166ab;
}