{% extends "layout.html" %}
{% block title %}Add Publication{% endblock %}
{% block page %}Add Publication{% endblock %}
{% block nav %}{% endblock %}

{{ super() }}

{% block content %}
    <div class="uk-flex uk-flex-center uk-flex-middle uk-height-viewport uk-background-cover uk-padding-small" data-src="/static/images/loginBG.jpg" uk-img tabindex="-1">
        <div class="uk-background-default uk-width-3-5 uk-container">
            <div class="uk-flex">
                <img class="uk-width-1-3 uk-flex-top" src="/static/images/MyeSearch Logo.jpg" alt="MyeSearch Logo">
                <a class="uk-margin-auto-left uk-margin-auto-vertical uk-button uk-button-text uk-text-capitalize" href="/">Skip for now <span uk-icon="arrow-right"></span></a>
            </div>
            <h3 class="uk-text-center uk-margin-remove-top uk-margin-small-bottom">Add A Publication</h3>
            <legend class="uk-legend uk-text-center uk-text-small uk-text-light uk-text-italic"><span class="required">*</span> indicates a required field</legend>
            <form action="/addpublication/{{id}}" method="post" class="uk-padding-small uk-padding-remove-vertical uk-height-large uk-form-stacked uk-margin uk-margin-auto uk-margin-large-bottom uk-width-4-5 scroll">
                
                <div class="uk-margin">
                    <label for="pdf" class="uk-form-label">Upload PDF (optional)</label>
                    <div id="publication-upload" class="uk-placeholder uk-text-center uk-width-auto uk-margin-remove-top">
                        <span uk-icon="icon: cloud-upload"></span>
                        <span class="uk-text-middle">Upload PDF by dropping it here or</span>
                        <div uk-form-custom>
                            <input type="file" name="pdf">
                            <span class="uk-link">selecting one</span>
                        </div>
                        <progress id="js-publication-progressbar" class="uk-progress" value="0" max="100" hidden></progress>
                        <p id="publication-name"></p>
                    </div>
                </div>

                <div class="uk-margin">
                    <label for="checkbox">Automatically extract some info from PDF</label>
                    <input class="uk-checkbox" type="checkbox" name="checkbox" id="checkbox">
                </div>

                <a id="load-toggler" href="#loader" uk-toggle hidden></a>

                <div id="loader" uk-modal>
                    <div class="uk-modal-dialog uk-modal-body uk-margin-auto-vertical">
                        <button class="uk-modal-close-default" type="button" uk-close></button>
                        <div id="loader-modal-body" class="uk-flex uk-flex-column uk-flex-center uk-flex-middle uk-height-small">
                            <div class="uk-margin-small-bottom" uk-spinner></div>
                            <div>Loading Publication Information</div>
                        </div>
                    </div>
                </div>

                <script>
                    let chkbox = document.getElementById('checkbox');
                    let loader = document.getElementById('loader');
                    let toggler = document.getElementById('load-toggler');
                    chkbox.addEventListener("change", (event) => {
                        if (event.currentTarget.checked){
                            toggler.click();
                            fetch('/extract').then((response) => response.json()).then((data) => {
                                let title = document.getElementById("pdf_title");
                                let abstract = document.getElementById("pdf_abstract");
                                let keywords = document.getElementById("pdf_keywords");
                                console.log(data);
                                title.value = data[2];
                                abstract.innerHTML = data[1];
                                abstract.value = data[1];
                                keywords.innerHTML = data[0];
                                keywords.value = data[0];
                                toggler.click();
                            });
                        }
                    });
                </script>
                
                <div class="uk-margin">
                    <label for="title" class="uk-form-label"><span class="required">*</span> Title</label>
                    <div class="uk-inline uk-form-controls uk-width-expand">
                        <input class="uk-input" name="title" id="pdf_title" type="text" required>
                    </div>
                </div>

                <div class="uk-margin">
                    <label for="abstract" class="uk-form-label">Abstract</label>
                    <div class="uk-inline uk-form-controls uk-width-expand">
                        <textarea class="uk-width-1-1 uk-textarea" id="pdf_abstract" name="abstract" rows="8"></textarea>
                    </div>
                </div>

                <div class="uk-margin">
                    <label for="abstract" class="uk-form-label"><span class="required">*</span> Keywords</label>
                    <div class="uk-inline uk-form-controls uk-width-expand">
                        <textarea class="uk-width-1-1 uk-textarea" name="keywords" id="pdf_keywords" rows="3" placeholder="Enter comma-separated keywords" required></textarea>
                    </div>
                </div>

                <div class="uk-margin">
                    <label for="abstract" class="uk-form-label">Co-Authors</label>
                    <div class="uk-inline uk-form-controls uk-width-expand">
                        <textarea class="uk-width-1-1 uk-textarea" name="coauthors" rows="3" placeholder="Enter comma-separated names e.g., John Doe, Jane N Doe"></textarea>
                    </div>
                </div>

                <div class="uk-margin">
                    <label for="pub_type" class="uk-form-label"><span class="required">*</span> Publication Type</label>
                    <div class="uk-inline uk-form-controls uk-width-expand">
                        <select class="uk-select" name="pub_type" required>
                            <option value="0" selected disabled>Select A Publication Type</option>
                            {% for t in types %}
                                <option value="{{t|title}}">{{t|title}}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>

                <div class="uk-margin">
                    <label for="pub_type" class="uk-form-label"><span class="required">*</span> Publication Year</label>
                    <div class="uk-inline uk-form-controls uk-width-expand">
                        <select class="uk-select" name="publication_date" required>
                            <option value="0" selected disabled>Select Year Published</option>
                            {% for d in dates %}
                                <option value="{{d}}">{{d}}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>

                <div class="uk-margin">
                    <label for="title" class="uk-form-label"><span class="required">*</span> URL/DOI</label>
                    <div class="uk-inline uk-form-controls uk-width-expand">
                        <input class="uk-input" name="url" type="url" required>
                    </div>
                </div>

                <div class="uk-margin">
                    <label for="title" class="uk-form-label">Link For PDF File</label>
                    <div class="uk-inline uk-form-controls uk-width-expand">
                        <input class="uk-input" name="eprint" type="url">
                    </div>
                </div>

                <h4>Fill out where applicable</h4>

                <div class="uk-margin">
                    <label for="title" class="uk-form-label">Journal</label>
                    <div class="uk-inline uk-form-controls uk-width-expand">
                        <input class="uk-input" name="journal" type="text" placeholder="e.g. SIAM Journal on Control and Optimization">
                    </div>
                </div>

                <div class="uk-margin">
                    <label for="title" class="uk-form-label">Publisher</label>
                    <div class="uk-inline uk-form-controls uk-width-expand">
                        <input class="uk-input" name="publisher" type="text" placeholder="e.g. SIAM">
                    </div>
                </div>

                <div class="uk-margin">
                    <label for="title" class="uk-form-label">Organization</label>
                    <div class="uk-inline uk-form-controls uk-width-expand">
                        <input class="uk-input" name="organization" type="text" placeholder="e.g. IEEE">
                    </div>
                </div>

                <div class="uk-margin">
                    <label for="title" class="uk-form-label">Institution</label>
                    <div class="uk-inline uk-form-controls uk-width-expand">
                        <input class="uk-input" name="institution" type="text" placeholder="e.g. Massachusetts Inst of Tech">
                    </div>
                </div>

                <div class="uk-margin">
                    <label for="title" class="uk-form-label">Booktitle</label>
                    <div class="uk-inline uk-form-controls uk-width-expand">
                        <input class="uk-input" name="booktitle" type="text" placeholder="e.g. 2009 IEEE 70th Vehicular Technology Conference Fall">
                    </div>
                </div>

                <div class="uk-margin">
                    <label for="title" class="uk-form-label">Month & Day</label>
                    <div class="uk-inline uk-form-controls uk-width-expand">
                        <input class="uk-input" name="month" type="text" placeholder="e.g. Nov 23">
                    </div>
                </div>

                <div class="uk-margin">
                    <label for="title" class="uk-form-label">Note</label>
                    <div class="uk-inline uk-form-controls uk-width-expand">
                        <input class="uk-input" name="note" type="text" placeholder="e.g. US Patent 8,331,249">
                    </div>
                </div>

                <div class="uk-margin">
                    <label for="title" class="uk-form-label">Pages</label>
                    <div class="uk-inline uk-form-controls uk-width-expand">
                        <input class="uk-input" name="pages" type="text" placeholder="e.g. 340-365">
                    </div>
                </div>

                <div class="uk-margin">
                    <label for="title" class="uk-form-label">Volume</label>
                    <div class="uk-inline uk-form-controls uk-width-expand">
                        <input class="uk-input" name="volume" type="text" placeholder="e.g. 5">
                    </div>
                </div>

                <div class="uk-margin-medium-top uk-margin uk-flex uk-flex-center">
                    <button type="submit" class="uk-button uk-button-primary">Add</button>
                </div>
            </form>
        </div>
    </div>
{% endblock %} 
{% block footer %}{% endblock %}