{% extends 'layout.html' %}
{% block title %}MyeSearch Home{% endblock %}
{% block page %}MyeSearch Home{% endblock %}

{{ super() }}

{% block content %}
<div>
    <div>
        <div>Text goes here</div>
        <button> sign up </button>
    </div>

        
    <div class="uk-cover-container " uk-height-viewport>
        <video src="/static/library 4.webm" autoplay loop muted playsinline uk-cover></video>
    </div>    



<div>
    <div>
        Topic carousel goes here
    </div>
</div>


<div>
    <div>
        Featured carousel goes here
    </div>
</div>

<footer>
    
</footer>

{% endblock %}