{% extends 'layout.html' %}
{% block title %}MyeSearch Home{% endblock %}
{% block page %}MyeSearch Home{% endblock %}

{{ super() }}

{% block content %}
<div class="uk-inline uk-width-1-1" uk-toggle="target: .uk-overlay; mode: hover; animation: uk-animation-slide-left, uk-animation-slide-left">

        
    <div class="uk-cover-container" uk-height-viewport="offset-bottom: true; offset-top: 15">
        <video src="/static/library 4.webm" autoplay loop muted playsinline uk-cover></video>
    </div>  
    <div class="uk-overlay uk-overlay-primary uk-position-left uk-width-1-5 uk-flex uk-flex-center uk-flex-middle" hidden>
        <div>
            <div class="uk-text-center uk-margin"> Join today to have complete access to our MyeSearch platform. Start expanding your network by gaining access to original information created by The University of the West Indies staff. </div>
            <div class="uk-flex uk-flex-center uk-text-decoration-none"><a href="/signup" class="uk-button uk-button-danger">Signup</a></div>  
        </div>
    </div>
</div>

<div class="uk-background-default uk-height-viewport">
    <div class=" uk-card uk-card-default uk-width-1-1 uk-child-width-1-2 uk-margin-remove uk-height-viewport" uk-grid> 
        <div class="uk-width-expand uk-margin-medium-right uk-height-viewport uk-flex uk-flex-middle">
            <div data-src="/static/images/team1.jpg" uk-parallax="bgy: -150px" class="uk-width-expand uk-background-cover uk-margin-auto uk-height-large uk-border-circle" uk-img></div>
        </div>
        <div class="uk-text-center uk-flex uk-flex-center uk-flex-middle uk-height-viewport">
            <div class="uk-margin-medium-right">
                <h2>Discover In-Depth Publications</h2>
                <hr class="uk-divider-icon">
                <p class="uk-margin-small-top uk-text-large">
                    Access the multitude of Research Papers and other Publications made by our UWI Researchers. </p>
                    <p class="uk-margin-small-top uk-text-large">
                    Stay updated with our most recent studies and become acquainted with fresh Researchers.
                    </p>
            </div>
        </div>
    </div>

    <div class="uk-width-1-1 uk-child-width-1-2 uk-margin-remove uk-height-viewport" uk-grid> 
        <div class="uk-text-center uk-flex uk-flex-center uk-flex-middle uk-height-viewport">
            <div class="uk-margin-medium-right">
                <h2>Analyse Your Impact</h2>
                <hr class="uk-divider-icon">
                <p class="uk-margin-small-top uk-text-large">
                    Get in-depth statistics on who's been reading, downloading and citing your publications.
                </p>
            </div>
        </div>
        <div class="uk-width-expand uk-margin-medium-right uk-height-viewport uk-flex uk-flex-middle">
            <div data-src="/static/images/stats.jpg" uk-parallax="bgy: -300px" class="uk-width-expand uk-background-cover uk-margin-auto uk-height-large uk-border-circle" uk-img></div>
        </div>
    </div>
</div>

<div class="uk-width-1-1 uk-height-viewport">
    <div style="color: #ffffff" class="uk-margin-small-top uk-text-center uk-light uk-padding-small uk-text-large uk-text-bold">BROAD TOPICS</div>
    <div class="uk-text-center">
        <p class="uk-text-large uk-width-1-2 uk-margin-auto">
            Just some stuff for now until we can figure out what we need to write inside this section and still have it look good etc
        </p>
    </div>
    <div class="uk-container" uk-slider>

        <div class="uk-position-relative">

            <div class="uk-slider-container-offset uk-visible-toggle uk-light" tabindex="-1">

                <ul class="uk-slider-items uk-child-width-1-2@s uk-child-width-1-3@m uk-child-width-1-4@l uk-grid-match" uk-grid uk-height-match="target: > li > div > div:nth-of-type(2) > .uk-card-title">
                    <li>
                        <div class="uk-card uk-card-default uk-height-1-1">
                            <div class="uk-card-media-top uk-height-medium">
                                <div class="uk-background-cover uk-height-1-1" data-src="/static/images/ai.jpg" uk-img tabindex="1"></div>
                            </div>
                            <div class="uk-card-body uk-text-center uk-padding-small">
                                <h3 class="uk-card-title uk-text-default">Artifical Intelligence</h3>
                                <button class="uk-button uk-button-danger uk-light uk-border-rounded">Follow</button>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="uk-card uk-card-default">
                            <div class="uk-card-media-top uk-height-medium">
                                <div class="uk-background-cover uk-height-1-1" data-src="/static/images/biotechnology.jpg" uk-img tabindex="1"></div>
                            </div>
                            <div class="uk-card-body uk-text-center uk-padding-small">
                                <h3 class="uk-card-title uk-text-default">Biotechnology</h3>
                                <button class="uk-button uk-button-danger uk-light uk-border-rounded">Follow</button>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="uk-card uk-card-default">
                            <div class="uk-card-media-top uk-height-medium">
                                <div class="uk-background-cover uk-height-1-1" data-src="/static/images/climate.jpg" uk-img tabindex="1"></div>
                            </div>
                            <div class="uk-card-body uk-text-center uk-padding-small">
                                <h3 class="uk-card-title uk-text-default">Climate Change</h3>
                                <button class="uk-button uk-button-danger uk-light uk-border-rounded">Follow</button>
                            </div>
                        </div>
                    </li>

                    <li>
                        <div class="uk-card uk-card-default">
                            <div class="uk-card-media-top uk-height-medium">
                                <div class="uk-background-cover uk-height-1-1" data-src="/static/images/comsci.jpg" uk-img tabindex="1"></div>
                            </div>
                            <div class="uk-card-body uk-text-center uk-padding-small">
                                <h3 class="uk-card-title uk-text-default">Computer Science</h3>
                                <button class="uk-button uk-button-danger uk-light uk-border-rounded">Follow</button>
                            </div>
                        </div>
                    </li>

                    <li>
                        <div class="uk-card uk-card-default">
                            <div class="uk-card-media-top">
                                <img src="images/photo3.jpg" alt="">
                            </div>
                            <div class="uk-card-body">
                                <h3 class="uk-card-title">Headline</h3>
                                <button class="uk-button uk-button-danger uk-light uk-border-rounded">Follow</button>
                            </div>
                        </div>
                    </li>
                </ul>

                <div class="uk-hidden@m uk-light">
                    <a class="uk-position-center-left uk-position-small" href="#" uk-slidenav-previous uk-slider-item="previous"></a>
                    <a class="uk-position-center-right uk-position-small" href="#" uk-slidenav-next uk-slider-item="next"></a>
                </div>
        
                <div class="uk-visible@m">
                    <a class="uk-position-center-left-out uk-position-small" href="#" uk-slidenav-previous uk-slider-item="previous"></a>
                    <a class="uk-position-center-right-out uk-position-small" href="#" uk-slidenav-next uk-slider-item="next"></a>
                </div>
            </div>
            <ul class="uk-slider-nav uk-dotnav uk-flex-center uk-margin"></ul>
        
        </div>
    </div>
</div>

{% endblock %}