<!doctype html>
<html>
  <head>
  
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.15.23/dist/css/uikit.min.css" />
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.15.23/dist/js/uikit.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.15.23/dist/js/uikit-icons.min.js"></script>
    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>{% block title %}{% endblock %}</title>

  </head>
  <body>
    <div class="uk-navbar-container">
      <div class="uk-container uk-container-expand uk-background-primary uk-light">
        <nav class="uk-navbar">
          <div class="uk-navbar-left uk-heading-small">MyeSearch</div>
        </nav>
      </div>
    </div>
    
    {% with messages = get_flashed_messages() %}
      {% if messages %}
      <nav class="white black-text" style="padding: 10px"> <!--update classes to uikit-->
        <div class="nav-wrapper">
            <ul class="flashes">
            {% for message in messages %}
              <li>{{ message }}</li>
            {% endfor %}
            </ul>
        </div>
      </nav>
      {% endif %}
    {% endwith %}

    <div class="uk-container" id="content">{% block content %}{% endblock %}</div>
    <script src="/workspace/MyESearch/App/static/main.js"></script>
  </body>
</html>
