<!doctype html>
<html>
  <head>
  
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.15.23/dist/css/uikit.min.css" />
    <!-- preload publication images -->
    <link rel="preload" href="/static/images/publications/article.png" as="image">
    <link rel="preload" href="/static/images/publications/book.png" as="image">
    <link rel="preload" href="/static/images/publications/chapter.png" as="image">
    <link rel="preload" href="/static/images/publications/code.png" as="image">
    <link rel="preload" href="/static/images/publications/conference paper.png" as="image">
    <link rel="preload" href="/static/images/publications/cover page.png" as="image">
    <link rel="preload" href="/static/images/publications/data.png" as="image">
    <link rel="preload" href="/static/images/publications/experiment finding.png" as="image">
    <link rel="preload" href="/static/images/publications/method.png" as="image">
    <link rel="preload" href="/static/images/publications/misc.png" as="image">
    <link rel="preload" href="/static/images/publications/negative results.png" as="image">
    <link rel="preload" href="/static/images/publications/patent.png" as="image">
    <link rel="preload" href="/static/images/publications/phdthesis.png" as="image">
    <link rel="preload" href="/static/images/publications/poster.png" as="image">
    <link rel="preload" href="/static/images/publications/preprint.png" as="image">
    <link rel="preload" href="/static/images/publications/presentation.png" as="image">
    <link rel="preload" href="/static/images/publications/raw data.png" as="image">
    <link rel="preload" href="/static/images/publications/research proposal.png" as="image">
    <link rel="preload" href="/static/images/publications/technical report.png" as="image">
    <link rel="preload" href="/static/images/publications/techreport.png" as="image">
    <link rel="preload" href="/static/images/publications/thesis.png" as="image">

    <!-- preload topic images -->
    <link rel="preload" href="/static/images/topics/Artificial Intelligence.jpeg" as="image">
    <link rel="preload" href="/static/images/topics/Biotechnology.jpeg" as="image">
    <link rel="preload" href="/static/images/topics/Climate Change.jpeg" as="image">
    <link rel="preload" href="/static/images/topics/Computer Science.jpeg" as="image">
    <link rel="preload" href="/static/images/topics/Energy.jpeg" as="image">
    <link rel="preload" href="/static/images/topics/Materials Science.jpeg" as="image">
    <link rel="preload" href="/static/images/topics/Medicine.jpeg" as="image">
    <link rel="preload" href="/static/images/topics/Neuroscience.jpeg" as="image">
    <link rel="preload" href="/static/images/topics/Quantum Computing.jpeg" as="image">
    <link rel="preload" href="/static/images/topics/Robotics.jpeg" as="image">

    <!-- preload home image -->
    <link rel="preload" href="/static/images/team.jpg" as="image">
    <link rel="preload" href="/static/images/stats.jpg" as="image">

    <script src="https://cdn.jsdelivr.net/npm/uikit@3.15.23/dist/js/uikit.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.1.4/js/uikit.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.15.23/dist/js/uikit-icons.min.js"></script>
    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>{% block title %}{% endblock %}</title>

  </head>
  
  <body class="jetblack-background" onload="getMessages({{get_flashed_messages()|safe}});">
  <!-- <div id="overlay"> -->
    <!-- <span class="uk-margin-small-right uk-position-center" uk-spinner="ratio: 3"></span> -->
  <!-- </div> -->



  <!-- Test Code for Screen Loader -->

<div id="overlay">
  <div class="book">
    <div class="inner">
      <div class="left"></div>
      <div class="middle"></div>
      <div class="right"></div>
    </div>
    <ul>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
    </ul>
  </div><a class="dribbble" href="https://dribbble.com/shots/7199149-Book-Loader" target="_blank"></a>
</div>
  
 <!-- Test Code for Screen Loader -->












    
  {% block nav %}

  <nav class="uk-background-default uk-width-1-1" uk-navbar>
    
    <div class="uk-width-1-1">
      <div class="uk-navbar-item">
        <a class="uk-navbar-item uk-logo uk-width-1-4" href="/" aria-label="Back to Home"><img src="/static/images/MyeSearch Logo.jpg">
        </a>

    
        <div class="uk-width-1-2 uk-margin-small-right uk-navbar-item uk-navbar-right">
          <div class="uk-margin uk-width-1-1">
            <form method="post" action="/search" class="uk-search uk-search-default uk-width-1-1">
                <a onclick="this.parentNode.submit()" class="uk-search-icon-flip" uk-search-icon></a>
                <input class="uk-search-input" type="search" name="search" placeholder="Search for publications, researchers, topics and more" aria-label="Search">
            </form>
        </div>
      </div>

      {% set unread = [] %}
      {% set ids = [] %}
      {% if current_user.is_authenticated %}
        {% for rec in current_user.notification_records %}
          {% if not rec.read %}
            {% set __ = unread.append(rec) %}
            {% set ____ = ids.append(rec.id) %}
          {% endif %}
        {% endfor %}
      {% endif %}
      
      <div>
        <ul class="uk-navbar-nav">
          <li>
            <a onclick="set_read({{ids}}); this.firstChild.nextSibling.nextSibling.style.display = 'none';" style="position: relative;">
              <span class="uk-icon uk-margin-small-right" uk-icon="icon: bell"></span>{% if unread|length > 0 %}<span style="position: absolute; top: 18px; left: 10px;" class="uk-badge">{{unread|length}}</span>{% endif %}
            </a>
            <!-- Researcher added a new publication and a Peer Researcher posted a new publication -->
            
            <div id="notif_dropdown" class="uk-card uk-card-default uk-width-1-3@m uk-width-1-4@l" uk-drop="mode: click">
              {% if not current_user.is_authenticated %}
                <div class="uk-height-small uk-flex uk-flex-center uk-flex-middle uk-flex-column">
                  <div class="uk-margin-small">You are not currently logged in! <span onclick="window.location.href='/login';"><a href="/login" class="uk-box-shadow-hover-small uk-padding-small" uk-toggle="cls: uk-background-default; mode: hover;">Login <span class="uk-margin-auto-left" uk-icon="sign-in"></span></a></span></div>
                  <div class="uk-margin-small">Don't have an account? <span onclick="window.location.href='/signup';"><a href="/signup" class="uk-box-shadow-hover-small uk-padding-small" uk-toggle="cls: uk-background-default; mode: hover;">Signup <span class="uk-margin-auto-left" uk-icon="plus-circle"></span></a></div>
                </div>
              {% else %}

                {% if unread|length == 0 %}
                  <div class="uk-text-center uk-margin-medium-bottom">
                    <img class="uk-width-2-3" src="/static/images/noNotifs.png" alt="No New Notifications">
                    <h4 class="uk-margin-remove-top">No Unread Notifications</h4>
                  </div>
                {% else %}

                  <div class="uk-height-large scroll">
                    {% for rec in unread %}

                      {% set title = rec.notification.title|to_dict %}
                      {% set message = rec.notification.message|to_dict %}
                      {% set notif = rec.notification %}

                      {% if notif.type == 1 %}
                        <!-- Researcher adds a new publication -->
                        <div class="uk-card-header uk-padding-small">
                          <div class="uk-grid-small uk-flex-middle" uk-grid>
                            <div class="uk-width-auto ">
                              <div class="uk-flex">
                                <img style="height:40px;" class="uk-border-circle uk-margin-small-right" width="40" height="40" {% if not title['image_url'] %}src="/static/images/unknown.png"{% else %}src="{{title['image_url']}}"{% endif %} alt="Avatar">
                                <div>
                                  <p class="uk-margin-small-bottom"><a href="/profile/{{title['researcher_id']}}">{{title['name']}}</a> added a New {{message['pub_type']|title}}.</p>
                                  <div class="uk-flex">
                                    <img style="height:40px;" class=" uk-margin-small-right" width="40" height="40" src="/static/images/publications/{{message['pub_type']}}.png" alt="Cover">
                                    <a href="/publication/{{message['pub_id']}}">{{message['pub_title']|title}}</a>
                                  </div>
                                  <p class="uk-text-meta uk-margin-small-top uk-margin-remove-bottom"><span>{{notif.last_updated.strftime("%B %d, %Y  %I:%M %p")}}</span></p>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      {% endif %}
                    
                      {% if notif.type == 2 %}
                        <!-- Follower(person) requested access to a publication -->
                        <div class="uk-card-header uk-padding-small">
                          <div class="uk-grid-small uk-flex-middle" uk-grid>
                              <div class="uk-width-auto ">
                                <div class="uk-flex">
                                  <img style="height:40px;" class="uk-border-circle uk-margin-small-right" width="40" height="40" {% if not title['image_url'] %}src="/static/images/unknown.png"{% else %}src="{{title['image_url']}}"{% endif %} alt="Avatar">
                                  <div> 
                                    <p class="uk-margin-small-bottom">{{title['name']}} Requested Access to your {{message['pub_type']|title}}.</p>
                                    <div class="uk-flex">
                                      <img style="height:40px;" class=" uk-margin-small-right" width="40" height="40" src="/static/images/publications/{{message['pub_type']}}.png" alt="Cover">
                                      <a href="/publication/{{message['pub_id']}}">{{message['pub_title']|title}}</a> 
                                    </div>
                                    <div>{{message['message']}}</div>
                                    <a onclick="accept_request({{message['s_id']}}, {{message['pub_id']}});" href="#student-contact" class="uk-margin-small-top uk-button uk-button-small uk-button-primary uk-border-pill" uk-toggle>Accept</a> 
                                    <div id="student-contact" uk-modal>
                                      <div class="uk-modal-dialog">
                                        <button class="uk-modal-close-default" type="button" uk-close></button>
                                        <div class="uk-modal-header">
                                          <h2 class="uk-modal-title">Contact This Student</h2>
                                        </div>
                                        <div class="uk-modal-body">
                                          <pre>{{message['contact']}}</pre>
                                        </div>
                                        <div class="uk-modal-footer">
                                          You may use the above email address to contact the student and inform them of the necessary procedure.
                                        </div>
                                      </div>
                                    </div>
                                    <button onclick="reject_request({{message['s_id']}}, {{message['pub_id']}});" class="uk-margin-small-top uk-button uk-button-small uk-button-danger uk-border-pill">Decline</button>
                                    <p class="uk-text-meta uk-margin-small-top uk-margin-remove-bottom"><span>{{notif.last_updated.strftime("%B %d, %Y  %I:%M %p")}}</span></p>
                                  </div>
                                </div>
                              </div>
                          </div>
                        </div>
                      {% endif %}

                      {% if notif.type == 3 %}
                        <!-- Peer Verification -->
                        <div class="uk-card-header uk-padding-small">
                          <div class="uk-grid-small uk-flex-middle" uk-grid>
                              <div class="uk-width-auto ">
                                <div class="uk-flex">
                                  <img style="height:40px;" class="uk-border-circle uk-margin-small-right" width="40" height="40" {% if not title['image_url'] %}src="/static/images/unknown.png"{% else %}src="{{title['image_url']}}"{% endif %} alt="Avatar">
                                  <div>
                                    <p class="uk-margin-small-bottom">{{title['name']}} needs to be Verified as a UWI Researcher.</p>
                                    <button onclick="verify_author({{current_user.id}}, {{title['researcher_id']}});" class="uk-button uk-button-small uk-button-primary uk-border-pill">Verify</button> 
                                    <button onclick="this.parentNode.parentNode.parentNode.parentNode.parentNode.style.display='none';" class="uk-button uk-button-small uk-button-danger uk-border-pill">Dismiss</button>
                                    <p class="uk-text-meta uk-margin-small-top uk-margin-remove-bottom"><span>{{notif.last_updated.strftime("%B %d, %Y  %I:%M %p")}}</span></p>
                                  </div>
                                </div>
                              </div>
                          </div>
                        </div>
                      {% endif %}

                      {% if notif.type == 4 %}
                        <!-- Publication was added under a Specific Topic -->
                        <div class="uk-card-header uk-padding-small">
                          <div class="uk-grid-small uk-flex-middle" uk-grid>
                              <div class="uk-width-auto ">
                                <div class="uk-flex">
                                  <img style="height:40px;" class="uk-margin-small-right" width="40" height="40" src="/static/images/publications/{{title['pub_type']}}.png" alt="Cover">
                                  <div> 
                                    <p class="uk-margin-small-bottom">
                                      <a href="/publication/{{title['pub_id']}}">{{title['pub_title']|title}}</a> was added to <a href="/topic/{{title['topic_id']}}">{{title['topic_name']}}</a>.
                                    </p>
                                    <p class="uk-text-meta uk-margin-small-top uk-margin-remove-bottom"><span>{{notif.last_updated.strftime("%B %d, %Y  %I:%M %p")}}</span></p>
                                  </div>
                                </div>
                              </div>
                          </div>
                        </div>
                      {% endif %}

                      {% if notif.type == 5 %}
                        <!-- Researcher gain a new follower -->
                        <div class="uk-card-header uk-padding-small">
                          <div class="uk-grid-small uk-flex-middle" uk-grid>
                              <div class="uk-width-auto ">
                                <div class="uk-flex">
                                  <img style="height:40px;" class="uk-border-circle uk-margin-small-right" width="40" height="40" {% if not title['image_url'] %}src="/static/images/unknown.png"{% else %}src="{{title['image_url']}}"{% endif %} alt="Avatar">
                                  <div> 
                                    <p class="uk-margin-small-bottom">{{title['name']}} started following you.</p>
                                    <p class="uk-text-meta uk-margin-small-top uk-margin-remove-bottom"><span>{{notif.last_updated.strftime("%B %d, %Y  %I:%M %p")}}</span></p>
                                  </div>
                                </div>
                              </div>
                          </div>
                        </div>
                      {% endif %}

                      {% if notif.type == 6 %}
                        <!-- Researcher gain a new  Researcher follower -->
                        <div class="uk-card-header uk-padding-small">
                          <div class="uk-grid-small uk-flex-middle" uk-grid>
                              <div class="uk-width-auto ">
                                <div class="uk-flex">
                                  <img style="height:40px;" class="uk-border-circle uk-margin-small-right" width="40" height="40" {% if not title['image_url'] %}src="/static/images/unknown.png"{% else %}src="{{title['image_url']}}"{% endif %} alt="Avatar">
                                  <div> 
                                    <p class="uk-margin-small-bottom">{{title['name']}} started following you.
                                    <button onclick="followback({{current_user.id}}, {{title['researcher_id']}}); this.innerHTML='Following'" class="uk-button uk-margin-small-top uk-button-small uk-button-primary uk-border-pill">Follow Back</button> 
                                    </p>
                                    <p class="uk-text-meta uk-margin-small-top uk-margin-remove-bottom"><span>{{notif.last_updated.strftime("%B %d, %Y  %I:%M %p")}}</span></p>
                                  </div>
                                </div>
                              </div>
                          </div>
                        </div>
                      {% endif %}

                      {% if notif.type == 7 %}
                        <!-- Researcher follows back the Researcher follower -->
                        <div class="uk-card-header uk-padding-small">
                          <div class="uk-grid-small uk-flex-middle" uk-grid>
                              <div class="uk-width-auto ">
                                <div class="uk-flex">
                                  <img style="height:40px;" class="uk-border-circle uk-margin-small-right" width="40" height="40" {% if not title['image_url'] %}src="/static/images/unknown.png"{% else %}src="{{title['image_url']}}"{% endif %} alt="Avatar">
                                  <div> 
                                    <p class="uk-margin-small-bottom"><a href="/profile/{{title['researcher_id']}}">{{title['name']}}</a> has reciprocated your follow request.</p>
                                    <p class="uk-text-meta uk-margin-small-top uk-margin-remove-bottom"><span>{{notif.last_updated.strftime("%B %d, %Y  %I:%M %p")}}</span></p>
                                  </div>
                                </div>
                              </div>
                          </div>
                        </div>
                      {% endif %}

                      {% if notif.type == 8 %}
                        <!-- A Researcher added or mentioned you to one of their publications -->
                        <div class="uk-card-header uk-padding-small">
                          <div class="uk-grid-small uk-flex-middle" uk-grid>
                              <div class="uk-width-auto ">
                                <div class="uk-flex">
                                  <img style="height:40px;" class="uk-border-circle uk-margin-small-right" width="40" height="40" {% if not title['image_url'] %}src="/static/images/unknown.png"{% else %}src="{{title['image_url']}}"{% endif %} alt="Avatar">
                                  <div>
                                    <p class="uk-margin-small-bottom"><a href="/profile/{{title['researcher_id']}}">{{title['name']}}</a> added you as a co-author in their {{message['pub_type']|title}}.</p>
                                    <div class="uk-flex">
                                      <img style="height:40px;" class=" uk-margin-small-right" width="40" height="40" src="/static/images/publications/{{message['pub_type']}}.png" alt="Cover">
                                      <a href="/publication/{{message['pub_id']}}">{{message['pub_title']|title}}</a> 
                                    </div>
                                    <p class="uk-text-meta uk-margin-small-top uk-margin-remove-bottom"><span>{{notif.last_updated.strftime("%B %d, %Y  %I:%M %p")}}</span></p>
                                  </div>
                                </div>
                              </div>
                          </div>
                        </div>
                      {% endif %}

                      {% if notif.type == 9 %}
                        <!-- A Researcher accepted request to access publication -->
                        <div class="uk-card-header uk-padding-small">
                          <div class="uk-grid-small uk-flex-middle" uk-grid>
                              <div class="uk-width-auto ">
                                <div class="uk-flex">
                                  <div>
                                    <p class="uk-margin-small-bottom">Your request to access "{{message['pub_title']|title}}" has been granted. The author may contact you via email.</p>
                                    <div class="uk-flex">
                                      <img style="height:40px;" class=" uk-margin-small-right" width="40" height="40" src="/static/images/publications/{{message['pub_type']}}.png" alt="Cover">
                                      <a href="/publication/{{message['pub_id']}}">{{message['pub_title']|title}}</a> 
                                    </div>
                                    <p class="uk-text-meta uk-margin-small-top uk-margin-remove-bottom"><span>{{notif.last_updated.strftime("%B %d, %Y  %I:%M %p")}}</span></p>
                                  </div>
                                </div>
                              </div>
                          </div>
                        </div>
                      {% endif %}

                      {% if notif.type == 10 %}
                        <!-- A Researcher rejected request to access publication -->
                        <div class="uk-card-header uk-padding-small">
                          <div class="uk-grid-small uk-flex-middle" uk-grid>
                              <div class="uk-width-auto ">
                                <div class="uk-flex">
                                  <div>
                                    <p class="uk-margin-small-bottom">Your request to access "{{message['pub_title']|title}}" has been rejected.</p>
                                    <div class="uk-flex">
                                      <img style="height:40px;" class=" uk-margin-small-right" width="40" height="40" src="/static/images/publications/{{message['pub_type']}}.png" alt="Cover">
                                      <a href="/publication/{{message['pub_id']}}">{{message['pub_title']|title}}</a> 
                                    </div>
                                    <p class="uk-text-meta uk-margin-small-top uk-margin-remove-bottom"><span>{{notif.last_updated.strftime("%B %d, %Y  %I:%M %p")}}</span></p>
                                  </div>
                                </div>
                              </div>
                          </div>
                        </div>
                      {% endif %}

                      {% if notif.type == 11 %}
                        <!-- Another researcher has verified your account -->
                        <div class="uk-card-header uk-padding-small">
                          <div class="uk-grid-small uk-flex-middle" uk-grid>
                              <div class="uk-width-auto ">
                                <div class="uk-flex">
                                  <img style="height:40px;" class="uk-border-circle uk-margin-small-right" width="40" height="40" {% if not title['image_url'] %}src="/static/images/unknown.png"{% else %}src="{{title['image_url']}}"{% endif %} alt="Avatar">
                                  <div> 
                                    <p class="uk-margin-small-bottom"><a href="/profile/{{title['researcher_id']}}">{{title['name']}}</a> has verified your account. You may now add your publications on your profile page.</p>
                                    <p class="uk-text-meta uk-margin-small-top uk-margin-remove-bottom"><span>{{notif.last_updated.strftime("%B %d, %Y  %I:%M %p")}}</span></p>
                                  </div>
                                </div>
                              </div>
                          </div>
                        </div>
                      {% endif %}

                    {% endfor %}
                  </div>
                {% endif %} 

                <!-- View All option -->
                <div class="uk-card-footer">
                  <div class="uk-flex uk-flex-center"> 
                    <a href="#all-notifs" class="uk-button uk-button-text" uk-toggle>View All</a>
                  </div>
                </div>

                <div id="all-notifs" uk-modal>
                  <div class="uk-modal-dialog">
                    <button class="uk-modal-close-default" type="button" uk-close></button>
                    <div class="uk-modal-header">
                      <div>
                        <h2 class="uk-modal-title uk-margin-remove-bottom">All Notifications</h2>
                      </div>
                      <div class="uk-flex uk-flex-right uk-flex-bottom">
                        <a class="uk-button uk-button-text" onclick="clear_notifications({{current_user.id}});">Clear All <span uk-icon="trash"></span></a>
                      </div>
                    </div>
                    <div id="all-notifs-body" class="uk-modal-body uk-height-large scroll">
                      {% if current_user.notification_records.all()|length > 0 %}
                        {% for rec in current_user.notification_records.all() %}
                          {% set title = rec.notification.title|to_dict %}
                          {% set message = rec.notification.message|to_dict %}
                          {% set notif = rec.notification %}
    
                          {% if notif.type == 1 %}
                            <!-- Researcher adds a new publication -->
                            <div class="uk-card-header uk-padding-small">
                              <div class="uk-grid-small uk-flex-middle" uk-grid>
                                <div class="uk-width-auto ">
                                  <div class="uk-flex">
                                    <img style="height:40px;" class="uk-border-circle uk-margin-small-right" width="40" height="40" {% if not title['image_url'] or title['image_url']=='None' %}src="/static/images/unknown.png"{% else %}src="{{title['image_url']}}"{% endif %} alt="Avatar">
                                    <div>
                                      <p class="uk-margin-small-bottom"><a href="/profile/{{title['researcher_id']}}">{{title['name']}}</a> added a New {{message['pub_type']|title}}.</p>
                                      <div class="uk-flex">
                                        <img style="height:40px;" class=" uk-margin-small-right" width="40" height="40" src="/static/images/publications/{{message['pub_type']}}.png" alt="Cover">
                                        <a href="/publication/{{message['pub_id']}}">{{message['pub_title']|title}}</a>
                                      </div>
                                      <p class="uk-text-meta uk-margin-small-top uk-margin-remove-bottom"><span>{{notif.last_updated.strftime("%B %d, %Y  %I:%M %p")}}</span></p>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          {% endif %}
                        
                          {% if notif.type == 2 %}
                            <!-- Follower(person) requested access to a publication -->
                            <div class="uk-card-header uk-padding-small">
                              <div class="uk-grid-small uk-flex-middle" uk-grid>
                                  <div class="uk-width-auto ">
                                    <div class="uk-flex">
                                      <img style="height:40px;" class="uk-border-circle uk-margin-small-right" width="40" height="40" {% if not title['image_url'] %}src="/static/images/unknown.png"{% else %}src="{{title['image_url']}}"{% endif %} alt="Avatar">
                                      <div> 
                                        <p class="uk-margin-small-bottom">{{title['name']}} Requested Access to your {{message['pub_type']|title}}.</p>
                                        <div class="uk-flex">
                                          <img style="height:40px;" class=" uk-margin-small-right" width="40" height="40" src="/static/images/publications/{{message['pub_type']}}.png" alt="Cover">
                                          <a href="/publication/{{message['pub_id']}}">{{message['pub_title']|title}}</a> 
                                        </div>
                                        <p class="uk-text-meta uk-margin-small-top uk-margin-remove-bottom"><span>{{notif.last_updated.strftime("%B %d, %Y  %I:%M %p")}}</span></p>
                                      </div>
                                    </div>
                                  </div>
                              </div>
                            </div>
                          {% endif %}
    
                          {% if notif.type == 3 %}
                            <!-- Peer Verification -->
                            <div class="uk-card-header uk-padding-small">
                              <div class="uk-grid-small uk-flex-middle" uk-grid>
                                  <div class="uk-width-auto ">
                                    <div class="uk-flex">
                                      <img style="height:40px;" class="uk-border-circle uk-margin-small-right" width="40" height="40" {% if not title['image_url'] %}src="/static/images/unknown.png"{% else %}src="{{title['image_url']}}"{% endif %} alt="Avatar">
                                      <div>
                                        <p class="uk-margin-small-bottom">{{title['name']}} needs to be Verified as a UWI Researcher.</p>
                                        <p class="uk-text-meta uk-margin-small-top uk-margin-remove-bottom"><span>{{notif.last_updated.strftime("%B %d, %Y  %I:%M %p")}}</span></p>
                                      </div>
                                    </div>
                                  </div>
                              </div>
                            </div>
                          {% endif %}
    
                          {% if notif.type == 4 %}
                            <!-- Publication was added under a Specific Topic -->
                            <div class="uk-card-header uk-padding-small">
                              <div class="uk-grid-small uk-flex-middle" uk-grid>
                                  <div class="uk-width-auto ">
                                    <div class="uk-flex">
                                      <img style="height:40px;" class="uk-margin-small-right" width="40" height="40" src="/static/images/publications/{{title['pub_type']}}.png" alt="Cover">
                                      <div> 
                                        <p class="uk-margin-small-bottom">
                                        <a href="/publication/{{title['pub_id']}}">{{title['pub_title']|title}}</a> was added to <a href="/topic/{{title['topic_id']}}">{{title['topic_name']}}</a>.</p>
                                        <p class="uk-text-meta uk-margin-small-top uk-margin-remove-bottom"><span>{{notif.last_updated.strftime("%B %d, %Y  %I:%M %p")}}</span></p>
                                      </div>
                                    </div>
                                  </div>
                              </div>
                            </div>
                          {% endif %}
    
                          {% if notif.type == 5 %}
                            <!-- Researcher gain a new follower -->
                            <div class="uk-card-header uk-padding-small">
                              <div class="uk-grid-small uk-flex-middle" uk-grid>
                                  <div class="uk-width-auto ">
                                    <div class="uk-flex">
                                      <img style="height:40px;" class="uk-border-circle uk-margin-small-right" width="40" height="40" {% if not title['image_url'] %}src="/static/images/unknown.png"{% else %}src="{{title['image_url']}}"{% endif %} alt="Avatar">
                                      <div> 
                                        <p class="uk-margin-small-bottom">{{title['name']}} started following you.</p>
                                        <p class="uk-text-meta uk-margin-small-top uk-margin-remove-bottom"><span>{{notif.last_updated.strftime("%B %d, %Y  %I:%M %p")}}</span></p>
                                      </div>
                                    </div>
                                  </div>
                              </div>
                            </div>
                          {% endif %}
    
                          {% if notif.type == 6 %}
                            <!-- Researcher gain a new  Researcher follower -->
                            <div class="uk-card-header uk-padding-small">
                              <div class="uk-grid-small uk-flex-middle" uk-grid>
                                  <div class="uk-width-auto ">
                                    <div class="uk-flex">
                                      <img style="height:40px;" class="uk-border-circle uk-margin-small-right" width="40" height="40" {% if not title['image_url'] %}src="/static/images/unknown.png"{% else %}src="{{title['image_url']}}"{% endif %} alt="Avatar">
                                      <div> 
                                        <p class="uk-margin-small-bottom">{{title['name']}} started following you.</p>
                                        <p class="uk-text-meta uk-margin-small-top uk-margin-remove-bottom"><span>{{notif.last_updated.strftime("%B %d, %Y  %I:%M %p")}}</span></p>
                                      </div>
                                    </div>
                                  </div>
                              </div>
                            </div>
                          {% endif %}
    
                          {% if notif.type == 7 %}
                            <!-- Researcher follows back the Researcher follower -->
                            <div class="uk-card-header uk-padding-small">
                              <div class="uk-grid-small uk-flex-middle" uk-grid>
                                  <div class="uk-width-auto ">
                                    <div class="uk-flex">
                                      <img style="height:40px;" class="uk-border-circle uk-margin-small-right" width="40" height="40" {% if not title['image_url'] %}src="/static/images/unknown.png"{% else %}src="{{title['image_url']}}"{% endif %} alt="Avatar">
                                      <div> 
                                        <p class="uk-margin-small-bottom"><a href="/profile/{{title['researcher_id']}}">{{title['name']}}</a> has reciprocated your follow request.</p>
                                        <p class="uk-text-meta uk-margin-small-top uk-margin-remove-bottom"><span>{{notif.last_updated.strftime("%B %d, %Y  %I:%M %p")}}</span></p>
                                      </div>
                                    </div>
                                  </div>
                              </div>
                            </div>
                          {% endif %}
    
                          {% if notif.type == 8 %}
                            <!-- A Researcher added or mentioned you to one of their publications -->
                            <div class="uk-card-header uk-padding-small">
                              <div class="uk-grid-small uk-flex-middle" uk-grid>
                                  <div class="uk-width-auto ">
                                    <div class="uk-flex">
                                      <img style="height:40px;" class="uk-border-circle uk-margin-small-right" width="40" height="40" {% if not title['image_url'] %}src="/static/images/unknown.png"{% else %}src="{{title['image_url']}}"{% endif %} alt="Avatar">
                                      <div>
                                        <p class="uk-margin-small-bottom"><a href="/profile/{{title['researcher_id']}}">{{title['name']}}</a> added you as a co-author in their {{message['pub_type']|title}}.</p>
                                        <div class="uk-flex">
                                          <img style="height:40px;" class=" uk-margin-small-right" width="40" height="40" src="/static/images/publications/{{message['pub_type']}}.png" alt="Cover">
                                          <a href="/publication/{{message['pub_id']}}">{{message['pub_title']|title}}</a> 
                                        </div>
                                        <p class="uk-text-meta uk-margin-small-top uk-margin-remove-bottom"><span>{{notif.last_updated.strftime("%B %d, %Y  %I:%M %p")}}</span></p>
                                      </div>
                                    </div>
                                  </div>
                              </div>
                            </div>
                          {% endif %}

                          {% if notif.type == 9 %}
                            <!-- A Researcher accepted request to access publication -->
                            <div class="uk-card-header uk-padding-small">
                              <div class="uk-grid-small uk-flex-middle" uk-grid>
                                  <div class="uk-width-auto ">
                                    <div class="uk-flex">
                                      <div>
                                        <p class="uk-margin-small-bottom">Your request to access "{{message['pub_title']|title}}" has been granted. The author may contact you via email.</p>
                                        <div class="uk-flex">
                                          <img style="height:40px;" class=" uk-margin-small-right" width="40" height="40" src="/static/images/publications/{{message['pub_type']}}.png" alt="Cover">
                                          <a href="/publication/{{message['pub_id']}}">{{message['pub_title']|title}}</a> 
                                        </div>
                                        <p class="uk-text-meta uk-margin-small-top uk-margin-remove-bottom"><span>{{notif.last_updated.strftime("%B %d, %Y  %I:%M %p")}}</span></p>
                                      </div>
                                    </div>
                                  </div>
                              </div>
                            </div>
                          {% endif %}
    
                          {% if notif.type == 10 %}
                            <!-- A Researcher rejected request to access publication -->
                            <div class="uk-card-header uk-padding-small">
                              <div class="uk-grid-small uk-flex-middle" uk-grid>
                                  <div class="uk-width-auto ">
                                    <div class="uk-flex">
                                      <div>
                                        <p class="uk-margin-small-bottom">Your request to access "{{message['pub_title']|title}}" has been rejected.</p>
                                        <div class="uk-flex">
                                          <img style="height:40px;" class=" uk-margin-small-right" width="40" height="40" src="/static/images/publications/{{message['pub_type']}}.png" alt="Cover">
                                          <a href="/publication/{{message['pub_id']}}">{{message['pub_title']|title}}</a> 
                                        </div>
                                        <p class="uk-text-meta uk-margin-small-top uk-margin-remove-bottom"><span>{{notif.last_updated.strftime("%B %d, %Y  %I:%M %p")}}</span></p>
                                      </div>
                                    </div>
                                  </div>
                              </div>
                            </div>
                          {% endif %}
    
                          {% if notif.type == 11 %}
                            <!-- Another researcher has verified your account -->
                            <div class="uk-card-header uk-padding-small">
                              <div class="uk-grid-small uk-flex-middle" uk-grid>
                                  <div class="uk-width-auto ">
                                    <div class="uk-flex">
                                      <img style="height:40px;" class="uk-border-circle uk-margin-small-right" width="40" height="40" {% if not title['image_url'] %}src="/static/images/unknown.png"{% else %}src="{{title['image_url']}}"{% endif %} alt="Avatar">
                                      <div> 
                                        <p class="uk-margin-small-bottom"><a href="/profile/{{title['researcher_id']}}">{{title['name']}}</a> has verified your account. You may now add your publications on your profile page.</p>
                                        <p class="uk-text-meta uk-margin-small-top uk-margin-remove-bottom"><span>{{notif.last_updated.strftime("%B %d, %Y  %I:%M %p")}}</span></p>
                                      </div>
                                    </div>
                                  </div>
                              </div>
                            </div>
                          {% endif %}

                          <hr>

                        {% endfor %}
                      {% else %}
                        <div class="uk-margin-auto uk-text-center">
                          <img class="uk-width-2-3" src="/static/images/noNotifs2.jpg" alt="No Notifications Present">
                          <h4 class="uk-margin-remove-top">No Notifications Present</h4>
                        </div>
                      {% endif %}
                    </div>
                  </div>
                </div>
                                                        
              {% endif %}
            </div>

          </li>
        </ul>
      </div>
      <div>
        <ul class="uk-navbar-nav">
          <li>
            <a href="#">
              <span class="uk-icon uk-margin-small-right" uk-icon="icon: user"></span>
            </a>
            <div style="min-width: 200px;" class="uk-card uk-card-default uk-background-muted uk-padding-small uk-width-auto" uk-drop="mode: click">
              <ul class="uk-nav">
                {% if current_user.is_authenticated %}
                  <div class="uk-flex uk-flex-middle">
                    <div style="width: 35px; height: 35px;" class="uk-border-circle uk-background-cover uk-margin-small-right" data-src="{% if not current_user.image_url %}/static/images/unknown.png{% else %}{{current_user.image_url}}{% endif %}" alt="Avatar" uk-img></div>
                    <div>{{current_user.first_name}} {{current_user.last_name}}</div>
                  </div>
                  <hr>
                  <li onclick="window.location.href='/logout';" class="uk-width-3-5 uk-margin-auto"><a href="/logout" class="uk-box-shadow-hover-small uk-padding-small" uk-toggle="cls: uk-background-default; mode: hover;">Logout <span class="uk-margin-auto-left" uk-icon="sign-out"></span></a></li>
                {% else %}
                  <li onclick="window.location.href='/login';"><a href="/login" class="uk-box-shadow-hover-small uk-padding-small" uk-toggle="cls: uk-background-default; mode: hover;">Login <span class="uk-margin-auto-left" uk-icon="sign-in"></span></a></li>
                  <li onclick="window.location.href='/signup';"><a href="/signup" class="uk-box-shadow-hover-small uk-padding-small" uk-toggle="cls: uk-background-default; mode: hover;">Signup <span class="uk-margin-auto-left" uk-icon="plus-circle"></span></a></li>
                {% endif %}
              </ul>
              
              
            </div>
          </li>
        </ul>
      </div>

    </div>

    <div class="uk-navbar-container uk-width-1-1 uk-child-width-1-1" uk-navbar>
      <div class="uk-navbar-left">
          <ul class="uk-navbar-nav uk-flex uk-width-1-1 uk-child-width-1-1">
            <div class="uk-flex uk-flex-between uk-child-width-1-5">
              <a href="/" class="uk-button uk-button-secondary uk-button-large">Home</a>             
              <a href="/myprofile" class="uk-button uk-button-secondary uk-button-large">My Profile</a>
              <a href="/all/researchers" class="uk-button uk-button-secondary uk-button-large">All Researchers</a>
              <a href="/all/publications" class="uk-button uk-button-secondary uk-button-large">All Publications</a>
                
              <div>
                    <a href="#" class= "uk-button uk-button-secondary uk-button-large uk-width-1-1">Browse Topics<span class="uk-icon" uk-icon="icon: triangle-down"></span></a>
                      
                    <ul class="uk-nav uk-navbar-dropdown uk-width-1-5 uk-overflow-auto" uk-dropdown="pos: bottom-right;">
                        <li class="uk-box-shadow-hover-small" uk-toggle="cls: uk-background-muted; mode: hover;"><a href="/topic/1" class="uk-text-secondary">Artificial Intelligence</a></li>
                        <li class="uk-box-shadow-hover-small" uk-toggle="cls: uk-background-muted; mode: hover;"><a href="/topic/2" class="uk-text-secondary">Biotechnology</a></li>
                        <li class="uk-box-shadow-hover-small" uk-toggle="cls: uk-background-muted; mode: hover;"><a href="/topic/3" class="uk-text-secondary">Climate Change</a></li>
                        <li class="uk-box-shadow-hover-small" uk-toggle="cls: uk-background-muted; mode: hover;"><a href="/topic/4" class="uk-text-secondary">Computer Science</a></li>
                        <li class="uk-box-shadow-hover-small" uk-toggle="cls: uk-background-muted; mode: hover;"><a href="/topic/5" class="uk-text-secondary">Energy</a></li>
                        <li class="uk-box-shadow-hover-small" uk-toggle="cls: uk-background-muted; mode: hover;"><a href="/topic/6" class="uk-text-secondary">Material Science</a></li>
                        <li class="uk-box-shadow-hover-small" uk-toggle="cls: uk-background-muted; mode: hover;"><a href="/topic/7" class="uk-text-secondary">Medicine</a></li>
                        <li class="uk-box-shadow-hover-small" uk-toggle="cls: uk-background-muted; mode: hover;"><a href="/topic/8" class="uk-text-secondary">Neuroscience</a></li>
                        <li class="uk-box-shadow-hover-small" uk-toggle="cls: uk-background-muted; mode: hover;"><a href="/topic/9" class="uk-text-secondary">Quantum Computing</a></li>
                        <li class="uk-box-shadow-hover-small" uk-toggle="cls: uk-background-muted; mode: hover;"><a href="/topic/10" class="uk-text-secondary">Robotics</a></li>
                    </ul>
                </div>  
              </div>    
          </ul>
      </div>
    </div>
  </nav>   

  {% endblock %}
    

    <!-- {% with messages = get_flashed_messages() %}
      {% if messages %}
      <nav class="white black-text" style="padding: 10px">
        <div class="nav-wrapper">
            <ul class="flashes">
            {% for message in messages %}
              <li>{{ message }}</li>
            {% endfor %}
            </ul>
        </div>
      </nav>
      {% endif %}
    {% endwith %} -->


    <div id="content">{% block content %}{% endblock %}</div>
    
    {% block footer %}
      <footer class="uk-grid-divider uk-background-default" uk-height-viewport="offset-top: true; offset-bottom: 60;" uk-grid>
        
        <div class="uk-width-1-3 uk-flex uk-flex-center uk-flex-middle uk-margin-medium-top uk-margin-medium-bottom">
          <div class="">
            <div class="uk-width-1-3 uk-margin-auto">
              <img class="" src="/static/images/UWI Logo.jpeg">
            </div>
            <div class="uk-text-center">&#169; MyeSearch 2023. All Rights Reserved</div>
          </div>
        </div>

        <div class="uk-width-1-3 uk-flex uk-flex-center uk-margin-medium-top uk-margin-medium-bottom">
          <ul class="uk-list uk-list-large"><h4>Quick Links</h4>
            <li><a href="/">Home</a></li>
            <li><a href="/myprofile">My Profile</a></li>
            <li><a href="/all/researchers">All Researchers</a></li>
            <li><a href="/all/publications">All Publications</a></li>
          </ul>
        </div>

        <div class="uk-width-1-3 uk-flex uk-flex-center uk-margin-medium-top uk-margin-medium-bottom">
          <ul class="uk-list uk-list-large"><h4>Project Team</h4>
            <li>Munesha Beharry</li>
            <li>Shivan Maharaj</li>
            <li>Trey Murray</li>
          </ul>
        </div>

      </footer>
    {% endblock %}

    <script src="/static/main.js"></script>
  </body>
</html>