{% extends "layout.html" %}
{% block title %}MyeSearch Login{% endblock %}
{% block page %}MyeSearch Login{% endblock %}

{{ super() }}

{% block content %}
    <div class="uk-flex uk-height-viewport uk-background-cover uk-height-viewport uk-width-viewport" data-src="/static/images/loginBG.jpg" uk-img>
        <div class="uk-container uk-margin-auto-vertical">
            <div class="uk-grid-collapse" uk-grid>
                <div class="uk-transition-toggle" tabindex="0">
                    <a class="uk-card uk-card-body uk-card-default uk-transition-scale-up uk-transition-opaque">
                        <h3 class="uk-text-center uk-text-middle uk-margin-top">Student Login</h3>
                        <div class="uk-height-medium uk-background-cover" data-src="/static/images/Student.jpeg" uk-img="loading: eager"></div>
                    </a>
                </div>
                <div class="uk-transition-toggle" tabindex="0">
                    <a class="uk-card uk-card-body uk-card-default uk-transition-scale-up uk-transition-opaque">
                        <h3 class="uk-text-center uk-text-middle uk-margin-top">Researcher Login</h3>
                        <div class="uk-height-medium uk-background-cover" data-src="/static/images/Researcher.jpeg" uk-img="loading: eager"></div>
                    </a>
                </div>
            </div>
            
        </div>








        <!-- <div class="uk-container uk-container-small uk-column-1-2">
            <a class="uk-card uk-card-default uk-card-body uk-text-decoration-none uk-text-center uk-height-large">
                <h5 class="uk-card-title">Student Login</h5>
                <div class="uk-height-medium uk-background-cover" data-src="/static/images/Student.jpeg" uk-img="loading: eager"></div>
            </a>
            <a class="uk-card uk-card-default uk-card-body uk-text-decoration-none uk-text-center uk-height-large">
                <h5 class="uk-card-title">Researcher Login</h5>
                <div class="uk-height-medium uk-background-cover" data-src="/static/images/Researcher.jpeg" uk-img="loading: eager"></div>
            </a>
        </div> -->
    </div>
{% endblock %}