{% extends "layout.html" %}
{% block title %}MyeSearch Login{% endblock %}
{% block page %}MyeSearch Login{% endblock %}

{{ super() }}

{% block content %}
    <div class="uk-section">
        <div class="uk-container uk-container-small uk-column-1-2">
            <a class="uk-card uk-card-default uk-card-body uk-text-decoration-none uk-text-center uk-height-large">
                <div class="uk-height-small uk-background-cover" data-src="App/static/images/Student.jpeg" uk-img="loading: eager"></div>
                <h5 class="uk-card-title uk-background-primary">Student Login</h5>
            </a>
            <a class="uk-card uk-card-default uk-card-body uk-text-decoration-none uk-text-center uk-height-large">
                <h5 class="uk-card-title">Researcher Login</h5>
            </a>
        </div>
    </div>
{% endblock %}