{% extends 'layout.html' %}
{% block title %}MyeSearch Profile{% endblock %}
{% block page %}MyeSearch Profile{% endblock %}

{{ super() }}

{% block content %}

<div class="uk-padding">
    <div class="uk-grid uk-margin-remove" uk-grid uk-height-viewport="offset-top: true">
        <div class="uk-card uk-light uk-background-primary uk-width-1-3 uk-padding-remove uk-flex uk-flex-center" style="color: white">
            <div class="uk-margin-medium-top uk-margin-medium-bottom">
                <div class="uk-flex uk-flex-center">
                    <div class="uk-border-circle uk-background-cover" data-src="{% if user.image_url %} {{user.image_url}} {% else %} /static/images/unknown.png {% endif %}" alt="" style="width: 250px; height: 250px;" uk-img></div>
                </div>
                <h2> {% if re %} {{user.title}} {% endif %} {{user.first_name}} {{ user.last_name }}</h2>
                <div class="uk-text-default">
                    <div> {% if re %} {{user.position}} {% else %} Student {% endif %} at {{user.institution}} </div>
                    <h3>About</h3>
                    <hr>

                    <div class="uk-margin">
                        <span class="uk-text-bold">Faculty</span>
                        <div> {{user.faculty}} </div>
                    </div>

                    <div class="uk-margin">
                        <span class="uk-text-bold">Department</span>
                        <div> {{user.department}} </div>
                    </div>

                    <div class="uk-margin">
                        <span class="uk-text-bold">Contact Email</span>
                        <div> {{user.email}} </div>
                    </div>

                    {% if re %}
                        <div class="uk-margin">
                            <span class="uk-text-bold">Year Started at institution</span>
                            <div> {{user.start_year}} </div>
                        </div>

                        <div class="uk-margin">
                            <span class="uk-text-bold">Academic Qualifications</span>
                            <div> {{user.qualifications}} </div>
                        </div>
                        {% if user.certifications %}
                        <div class="uk-margin">
                            <span class="uk-text-bold">Certifications</span>
                            <div> {{user.certifications}} </div>
                        </div>
                        {% endif %}
                        {% if user.website_url %}
                        <div class="uk-margin">
                            <div class="uk-text-bold">Personal Website</div>
                            <a class="uk-button-text uk-text-decoration-none" href="https://{{user.website_url}}"> {{user.website_url}} </a>
                        </div>
                        {% endif %}
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="uk-width-expand uk-padding-remove-left uk-margin-medium-left">
            {% if re %}
                <div class="uk-card uk-card-default uk-margin">
                    <div class="uk-padding">
                        <div class="uk-text-center uk-margin">
                            <h3>Introduction</h3>
                            <div class="uk-width-2-3 uk-margin-auto">This would be the paragraph that is used to describe the researcher whose profile is being presented</div>
                        </div>
                        <hr>
                        <div id="re_info" class="uk-grid uk-grid-small uk-child-width-expand uk-text-center" uk-grid uk-height-match="target: > div > .uk-card; row: false;">
                            <div>
                                <div class="uk-card uk-card-default uk-padding-small uk-border-rounded">
                                    <div>Academic Qualifications</div>
                                    <hr>
                                    <div class="uk-display-block"> {{user.qualifications}} </div>
                                </div>
                            </div>
                            
                            <div>
                                <div class="uk-card uk-card-default uk-padding-small uk-border-rounded uk-text-bottom">
                                    <div>Other Certifications</div>
                                    <hr>
                                    <div class="uk-display-block"> {% if user.certifications %} {{user.certifications}} {% else %} None listed yet {% endif %} </div>
                                </div>
                            </div>
                            
                            <div>
                                <div class="uk-card uk-card-default uk-padding-small uk-border-rounded">
                                    <div>Research Interests</div>
                                    <hr>
                                    <div class="uk-display-block">
                                        <a href="/topic/1" class="uk-button uk-button-text uk-text-capitalize uk-text-default">Artificial Intelligence in Education</a>

                                        {% for int in interests %}
                                            <a href="/topic/{{int.id}}" class="uk-margin-small-bottom uk-button uk-box-shadow-hover-small uk-background-muted uk-border-pill">{{ int }}</a>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>

                            <div>
                                <div class="uk-card uk-card-default uk-padding-small uk-border-rounded">
                                    <div>Skills/Expertise</div>
                                    <hr>
                                    <div class="uk-display-block"> {{user.skills}} </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>  
            {% endif %}

            <div class="uk-card uk-card-default uk-margin">
                <div class="uk-padding">
                    <h3>Subscriptions</h3>
                    <hr>
                    {% if not topics and not researchers %}
                        <div class="uk-padding-small uk-padding-remove-horizontal">No Subscriptions yet</div>
                    {% else %}
                        <div class="uk-margin">Researchers</div>
                        <div>
                            {% if researchers %}
                                {% for re in researchers %}
                                    <a href="/profile/{{re.id}}" style="padding: 6px;" class="uk-border-pill uk-background-muted uk-inline uk-text-decoration-none uk-button uk-button-default uk-text-capitalize"><span class="uk-icon uk-icon-image uk-border-circle" style="height: 30px; width: 30px; background-image: url('{% if re.image_url %} {{re.image_url}} {% else %} /static/images/unknown.png {% endif %}');" uk-icon></span> {{re.first_name}} {{re.last_name}} </a>
                                {% endfor %}
                            {% else %}
                                <div class="uk-padding-small uk-padding-remove-horizontal">No Subscriptions yet</div>
                            {% endif %}
                        </div>

                        <div class="uk-margin">Topics</div>
                        <div>
                            {% if topics %}
                                {% for top in topics %}
                                    <a href="/topic/{{top.id}}" style="padding: 6px;" class="uk-border-pill uk-background-muted uk-inline uk-text-decoration-none uk-button uk-button-default uk-text-capitalize"> {{top.name}} </a>
                                {% endfor %}
                            {% else %}
                                <div class="uk-padding-small uk-padding-remove-horizontal">No Subscriptions yet</div>
                            {% endif %}
                        </div>
                    {% endif %}
                </div>
            </div> 
            
            {% if re %}
                <div class="uk-card uk-card-default uk-margin">
                    <div class="uk-padding">
                        <h3>Analytics</h3>
                        <hr>
                        <div id="analytics" class="uk-grid uk-grid-divider uk-grid-large uk-child-width-expand uk-text-center" uk-grid>
                            <div class="uk-position-relative">
                                Profile Views
                                <div class="uk-card uk-card-default uk-padding-small"><span class="uk-position-center-left uk-margin-small-left" uk-icon="user"></span> {{user.views}} </div>
                            </div>
                            
                            <div>
                                Subscriber Count
                                <div class="uk-card uk-card-default uk-padding-small"><span class="uk-position-center-left uk-margin-small-left" uk-icon="users"></span> {{subs}} </div>
                            </div>
                            
                            <div>
                                No. of Times Searched
                                <div class="uk-card uk-card-default uk-padding-small"><span class="uk-position-center-left uk-margin-small-left" uk-icon="search"></span> {{user.searches}} </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endif %}

            {% if re %}
                </div>
            </div>
            <div class="uk-padding uk-padding-remove-horizontal uk-padding-remove-bottom">
                <div>
            {% endif %}
                    <div class="uk-width-1-1">
                        <div class="uk-card uk-card-default" uk-height-viewport="offset-top: true; offset-bottom: 20;">
                            <div class="uk-padding">
                                <ul uk-tab>
                                    {% if re %}
                                    <li><a href=""> {% if current_user.id == user.id %} My {% endif %} Publications</a></li>
                                    {% endif %}
                                    {% if current_user.id == user.id %}
                                        <li><a href="">My Library</a></li>
                                        <li><a href="">Recently Read</a></li>
                                    {% endif %}
                                </ul> 
                                
                                <ul class="uk-switcher">
                                    {% if re %}
                                        <li class="uk-grid uk-child-width-1-2 scroll" uk-grid>
                                            <div>
                                                <div class="uk-card uk-card-default uk-padding-small uk-flex uk-inline hvr-grow-shadow">
                                                    <div style="height: 140px; width: 112px;" class="uk-background-cover" data-src="/static/images/comp.jpg" uk-img></div>
                                                    <div class="uk-margin-small-left">
                                                        <h4 class="uk-margin-remove">Metaverse for climbing the ladder toward 'Industry 5.0' and 'Society 5.0'?</h4>
                                                        <div class="uk-text-middle uk-margin-small-bottom"><span class="uk-label">Research Paper</span> {{testdate}} </div>
                                                        <div>
                                                            {% for n in range(3) %}
                                                                <a href="#" style="padding: 2px 3px; height: 45px;" class="uk-border-pill uk-background-muted uk-inline uk-text-decoration-none uk-button uk-button-default uk-text-capitalize"><span class="uk-icon uk-icon-image uk-border-circle" style="height: 30px; width: 30px; background-image: url('/static/images/unknown.png');" uk-icon></span> {{test[n]}} </a>                              
                                                            {% endfor %}
                                                            +{{test|length - 3}} More
                                                        </div>
                                                    </div>
                                                    <a href="#" class="uk-overlay uk-position-cover"></a>
                                                </div>
                                            </div>

                                            <div>
                                                <div class="uk-card uk-card-default uk-padding-small uk-flex uk-inline hvr-grow-shadow">
                                                    <div style="height: 140px; width: 112px;" class="uk-background-cover" data-src="/static/images/comp.jpg" uk-img></div>
                                                    <div class="uk-margin-small-left">
                                                        <h4 class="uk-margin-remove">Metaverse for climbing the ladder toward 'Industry 5.0' and 'Society 5.0'?</h4>
                                                        <div class="uk-text-middle uk-margin-small-bottom"><span class="uk-label">Research Paper</span> {{testdate}} </div>
                                                        <div>
                                                            {% for n in range(3) %}
                                                                <a href="#" style="padding: 2px 3px; height: 45px;" class="uk-border-pill uk-background-muted uk-inline uk-text-decoration-none uk-button uk-button-default uk-text-capitalize"><span class="uk-icon uk-icon-image uk-border-circle" style="height: 30px; width: 30px; background-image: url('/static/images/unknown.png');" uk-icon></span> Akbar Abdullahi</a>                              
                                                            {% endfor %}
                                                            +{{test|length - 3}} More
                                                        </div>
                                                    </div>
                                                    <a href="#" class="uk-overlay uk-position-cover"></a>
                                                </div>
                                            </div>

                                            <div>
                                                <div class="uk-card uk-card-default uk-padding-small uk-flex uk-inline hvr-grow-shadow">
                                                    <div style="height: 140px; width: 112px;" class="uk-background-cover" data-src="/static/images/comp.jpg" uk-img></div>
                                                    <div class="uk-margin-small-left">
                                                        <h4 class="uk-margin-remove">Metaverse for climbing the ladder toward 'Industry 5.0' and 'Society 5.0'?</h4>
                                                        <div class="uk-text-middle uk-margin-small-bottom"><span class="uk-label">Research Paper</span> {{testdate}} </div>
                                                        <div>
                                                            {% for n in range(3) %}
                                                                <a href="#" style="padding: 2px 3px; height: 45px;" class="uk-border-pill uk-background-muted uk-inline uk-text-decoration-none uk-button uk-button-default uk-text-capitalize"><span class="uk-icon uk-icon-image uk-border-circle" style="height: 30px; width: 30px; background-image: url('/static/images/unknown.png');" uk-icon></span> Akbar Abdullahi</a>                              
                                                            {% endfor %}
                                                            +{{test|length - 3}} More
                                                        </div>
                                                    </div>
                                                    <a href="#" class="uk-overlay uk-position-cover"></a>
                                                </div>
                                            </div>

                                        </li>
                                    {% endif %}
                                    {% if current_user.id == user.id %}
                                        <li class="uk-grid {% if re %} uk-child-width-1-2 {% endif %} scroll" uk-grid>
                                            <div>
                                                <div class="uk-card uk-card-default uk-padding uk-flex">
                                                    <div style="height: 125px; width: 100px;" class="uk-background-cover" data-src="/static/images/comp.jpg" uk-img></div>
                                                    <div class="uk-margin-small-left">
                                                        <h4>Metaverse for climbing the ladder toward 'Industry 5.0' and 'Society 5.0'?</h4>

                                                    </div>
                                                </div>
                                            </div>

                                            <div>
                                                <div class="uk-card uk-card-default uk-padding uk-flex">
                                                    <div style="height: 125px; width: 100px;" class="uk-background-cover" data-src="/static/images/comp.jpg" uk-img></div>
                                                    <div class="uk-margin-small-left">
                                                        <h4>Metaverse for climbing the ladder toward 'Industry 5.0' and 'Society 5.0'?</h4>

                                                    </div>
                                                </div>
                                            </div>
                                        </li>

                                        <li class="uk-grid {% if re %} uk-child-width-1-2 {% endif %} scroll" uk-grid>
                                            {% if not recents|length %}
                                                <div class="uk-width-1-1 uk-flex uk-flex-center uk-flex-middle uk-flex-column uk-text-center" uk-height-match>
                                                    <img src="https://img.icons8.com/ios-filled/100/null/empty-box.png"/>
                                                    Nothing Added Yet
                                                </div>
                                            {% endif %}
                                        </li>
                                    {% endif %}
                                </ul>
                            </div>
                        </div>
                    </div>
        </div>
    </div>
</div>


{% endblock %}