{% extends 'layout.html' %}
{% block title %}MyeSearch Publication{% endblock %}
{% block page %}MyeSearch Publication{% endblock %}

{{ super() }}

{% block content %}
<script type="text/javascript" src="/static/main.js"></script>
<script>        
    this.document.body.style.overflowY = 'hidden';
    function pageLoad(){null}
    fetch('/load/pubsuggestions/{{pub.id}}').then((response) => response.json()).then((data) => {
        
        loadSuggestions(data, {{pub.id}});
    });
    {% if current_user.is_authenticated %}
        addToRecents({{current_user.id}}, {{pub.id}});
    {% endif %}
</script>

<div class="uk-padding">
    <div class="uk-grid uk-margin-remove" uk-grid uk-height-viewport="offset-top: true">
        <div class="uk-card lightred-background uk-width-1-3 uk-padding-remove uk-flex uk-flex-center">
            <div class="uk-margin-medium-top uk-margin-medium-bottom">
                <div class="uk-margin uk-flex uk-flex-center">
                    <div class=" uk-background-cover uk-box-shadow-large" data-src="{% if not pub.cover %} /static/images/publications2/{{pub.pub_type}}.png {% else %} {{pub.cover}} {% endif %}" style="width: 280px; height: 380px;" uk-img></div>
                </div>
                
                {% set ns = namespace(following=false) %}
                {% if current_user.is_authenticated %}
                    {% for rec in current_user.library[0].records %}
                        {% if rec.lib_pub.id == pub.id %}
                            {% set ns.following = true %}
                        {% endif %}
                    {% endfor %}
                {% endif %}

                <div class="uk-margin-medium-top">
                    <div onclick="{% if current_user.is_authenticated %}addToLibrary(this, {{current_user.id}}, {{pub.id}});{% else %}window.location.href='/login';{% endif %}" class="uk-display-block uk-margin-small-bottom uk-button uk-button-secondary">
                        {% if not ns.following %}
                            Add to Library
                        {% else %}
                            In Library
                        {% endif %}
                    </div>
                
                    <div uk-toggle="target: #citation-modal" onclick="addCitation({{pub.id}});" class="uk-display-block uk-margin-small-bottom uk-button uk-button-secondary" >
                        Cite
                    </div>

                    <div id="citation-modal" uk-modal>
                        <div class="uk-modal-dialog uk-modal-body uk-margin-auto-vertical">
                            <button class="uk-modal-close-default" type="button" uk-close></button>
                            <div id="citation-modal-body">
                                <div uk-spinner></div>
                                <div>Loading Citation</div>
                            </div>
                        </div>
                    </div>
                    {% if not pub.free_access %}
                        {% if current_user.is_authenticated %}
                            <a href="#request-modal" class="uk-display-block uk-margin-small-bottom uk-button uk-button-secondary" uk-toggle>
                                Request Text 
                            </a>

                            <div id="request-modal" uk-modal>
                                <div class="uk-modal-dialog">
                                    <button class="uk-modal-close-default" type="button" uk-close></button>
                                    <div class="uk-modal-header">
                                        <h2 class="uk-modal-title">Message</h2>
                                        <p>You may send a personalized message to the author(s)</p>
                                    </div>
                                    <div class="uk-modal-body">
                                        <form action="/request/{{current_user.id}}/{{pub.id}}" method="post">
                                            <div class="uk-margin">
                                                <label for="message" class="uk-form-label">Message (max. 500 chars.)</label>
                                                <textarea name="message" rows="5" class="uk-textarea" maxlength="500"></textarea>
                                            </div>
    
                                            <input id="msg-submit" type="submit" value="" hidden>
                                        </form>
                                    </div>
                                    <div class="uk-modal-footer uk-text-right">
                                        <button onclick="document.getElementById('msg-submit').click();" class="uk-button uk-button-primary" type="button">Send</button>
                                    </div>
                                </div>
                            </div>
                        {% else %}
                            <a href="/login" class="uk-display-block uk-margin-small-bottom uk-button uk-button-secondary">
                                Request Text 
                            </a>
                        {% endif %}
                    {% else %}
                        <a onclick="addDownload({{pub.id}});" target="_blank" {% if pub.encryptedPDF %}href="/getPDF/{{pub.id}}"{% else %}href="{% if pub.eprint %}{{pub.eprint}}{% else %}{{pub.url}}{% endif %}"{% endif %} class="uk-display-block uk-margin-small-bottom uk-button uk-button-secondary" {% if pub.encryptedPDF %}download="/getPDF/{{pub.id}}"{% else %}download="{% if pub.eprint %}{{pub.eprint}}{% else %}{{pub.url}}{% endif %}"{% endif %}>
                            Download 
                        </a>
                    {% endif %}
                </div>           
            </div>
        </div>

        <div class="uk-width-expand uk-padding-remove-left uk-margin-medium-left">
            <div class="uk-card uk-card-default uk-margin">
                <div class="uk-padding">
                    <h3 class="uk-margin-small-bottom uk-text-capitalize"> {{pub.title|title}} </h3>
                    <div class="uk-text-middle uk-margin-small-bottom"><span class="uk-label"> {{pub.pub_type}} </span> {% if pub.publication_date.strftime('%Y') != '1' %} {{pub.publication_date.strftime('%Y')}} {% endif %} </div>
                    <hr>
                    <div style="overflow-x: scroll; white-space: nowrap;" class="uk-flex">
                        {% for tag in pub.tags %}
                            <a href="/topic/{{tag.topic.id}}" style="padding: 0 10px;" class="uk-text-capitalize uk-margin-small-right uk-button uk-button-default uk-background-muted uk-border-pill"> {{tag.topic.name}} </a>
                        {% endfor %}
                    </div>                   
                </div>
            </div>

            <div class="uk-card uk-card-default uk-margin">
                <div class="uk-padding">
                    <h4>Authors</h4>
                    <hr class="uk-margin-small">
                    <div style="overflow-x: scroll; white-space: nowrap;" class="uk-flex">
                        {% for rec in pub.pub_records %}
                            <a href="/profile/{{rec.researcher.id}}" style="padding: 2px 3px; height: 45px;" class="uk-border-pill uk-margin-small-right uk-background-muted uk-inline uk-text-decoration-none uk-button uk-button-default uk-text-capitalize"><span class="uk-icon uk-icon-image uk-border-circle" style="height: 30px; width: 30px; background-image: url('{% if rec.researcher.image_url %} {{rec.researcher.image_url}} {% else %} /static/images/unknown.png {% endif %}');" uk-icon></span> {{rec.researcher.first_name}} {{rec.researcher.last_name}} </a>
                        {% endfor %}
                        {% if pub.coauthors != "" %}
                            {% set coauthors = pub.coauthors.split(', ') %}
                            {% for n in range(coauthors|length) %}
                                <a href="https://scholar.google.com/scholar?as_vis=1&q=author:+%22{{coauthors[n]}}%22&hl=en&as_sdt=0,5" style="padding: 2px 3px; height: 45px;" class="uk-border-pill uk-background-muted uk-margin-small-right uk-inline uk-text-decoration-none uk-button uk-button-default uk-text-capitalize"><span class="uk-icon uk-icon-image uk-border-circle" style="height: 30px; width: 30px; background-image: url('/static/images/unknown.png');" uk-icon></span> {{coauthors[n]}} </a>
                            {% endfor %}
                        {% endif %}
                    </div>  
                </div>
            </div>

            <div class="uk-card uk-card-default uk-margin">
                <div class="uk-padding">
                    <h4 class="uk-margin-remove">Abstract</h4>
                    <hr class="uk-margin-small">        
                    <div class="uk-inline uk-width-1-1">
                        {{pub.abstract}}
                        <div class="uk-flex uk-flex-center uk-margin-small-top"><a href="{{pub.url}}" onclick="addRead({{pub.id}});" class="uk-button uk-button-danger">Read More</a></div>
                    </div>          
                </div>
            </div>

            <div class="uk-card uk-card-default uk-margin">
                <div class="uk-padding">
                    <h4 class="uk-margin-remove">Analytics</h4>
                    <hr class="uk-margin-small">
                    <div class="uk-grid uk-grid-divider uk-child-width-expand uk-text-center" uk-grid>
                        {% if pub.free_access %}
                            <div class="uk-position-relative">
                                Downloads
                                <div class="uk-card uk-card-default uk-padding-small border"><span class="uk-position-center-left uk-margin-small-left" uk-icon="download"></span> {{pub.downloads}} </div>
                            </div>
                        {% endif %}
        
                        <div class="uk-position-relative">
                            Citations
                            <div class="uk-card uk-card-default uk-padding-small border"><span class="uk-position-center-left uk-margin-small-left" uk-icon="quote-right"></span> {{pub.citations}} </div>
                        </div>
        
                        <div class="uk-position-relative">
                            Reads
                            <div class="uk-card uk-card-default uk-padding-small border"><span class="uk-position-center-left uk-margin-small-left" uk-icon="eye"></span> {{pub.reads}} </div>
                        </div>
                        
                        <div>
                            Searches
                            <div class="uk-card uk-card-default uk-padding-small border"><span class="uk-position-center-left uk-margin-small-left" uk-icon="search"></span> {{pub.searches}} </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="uk-padding uk-padding-remove-horizontal uk-padding-remove-bottom">
        <div>
            <div class="uk-width-1-1">
                <div class="uk-card uk-card-default" uk-height-viewport="offset-top: true; offset-bottom: 30;">
                    <div class="uk-padding" uk-height-viewport="offset-top: true; offset-bottom: 30;">
                        <h4 class="uk-margin-remove">Suggested Publications</h4>
                        <hr class="uk-margin-small">
                        <ul id="tabs" uk-tab></ul> 
                        
                        <ul id="switcher" class="uk-switcher uk-height-max-large" uk-overflow-auto>

                        </ul>

                    </div>
                </div>
            </div>
        </div>
    </div>   

</div>





{% endblock %}