{% extends 'layout.html' %}
{% block title %}MyeSearch Publication{% endblock %}
{% block page %}MyeSearch Publication{% endblock %}

{{ super() }}

{% block content %}

<div>
    <div>
        <img src="" alt=""> publication image goes here
        <button> Add to Library </button>
        <button> Citation </button>
        <button> Request Text </button>
        <button> Download </button>
    </div>


    <div>
        <div> title, publication and date goes here </div>
    </div>


    <div>
        <div>
            All authors of the publication goes here
        </div>
    </div>

    <div>
        <div> Abstract goes here </div>
    </div>

</div>


<div>
    <div> Analytics Tile goes here</div>

    <button> Downloads </button>
    <button> Citations </button>
    <button> Views </button>
    <button> Searched </button>
</div>


<footer>

</footer>


{% endblock %}