{% extends 'layout.html' %}
{% block title %}MyeSearch Signup{% endblock %}
{% block page %}MyeSearch Signup{% endblock %}

{{ super() }}

{% block content %}
<div class="uk-flex uk-flex-center uk-flex-middle uk-height-viewport uk-background-cover" data-src="/static/images/loginBG.jpg" uk-img tabindex="-1">
        <div class="uk-card uk-card-default uk-text-small uk-box-shadow-xlarge uk-grid-collapse uk-width-3-5@l uk-width-4-5@m uk-child-width-1-2@s" uk-height-viewport="offset-top: true; offset-bottom: 15" uk-grid>
            <div>
                <h1 class="uk-text-large uk-text-center">Student Sign Up</h1>

            </div>

            <div>
                <h1 class="uk-text-large uk-text-center">Researcher Sign Up</h1>
            </div>
        </div>
</div>
{% endblock%}