{% extends 'layout.html' %}
{% block title %}MyeSearch Signup{% endblock %}
{% block page %}MyeSearch Signup{% endblock %}

{{ super() }}

{% block content %}
<div class="uk-flex uk-flex-center uk-flex-middle uk-height-viewport uk-background-cover" data-src="/static/images/loginBG.jpg" uk-img tabindex="-1">
        <div class="uk-card uk-card-default uk-text-small uk-box-shadow-xlarge uk-grid-collapse uk-width-3-5@l uk-width-4-5@m uk-child-width-1-2@s" uk-height-viewport="offset-top: true; offset-bottom: 15" uk-grid>
            <div>
                <h1 class="uk-text-large uk-text-center">Student Sign Up</h1>

                <form id="researcher_signup" class="uk-form-stacked" action="/signup" method="post" onsubmit="getInterests();">
                    {{ reForm.title.label(class="uk-form-label") }}
                    <div class="uk-flex">
                        {% for title in reForm.title %}
                        <div class="uk-width-1-5">
                            {{ title(class="uk-radio") }}
                            {{ title.label }}
                        </div>
                        {% endfor %}
                    </div>

                    {{ baseForm.first_name.label(class="uk-form-label") }}
                    {{ baseForm.first_name(class="uk-input") }}

                    {{ baseForm.middle_name.label(class="uk-form-label") }}
                    {{ baseForm.middle_name(class="uk-input") }}

                    {{ baseForm.last_name.label(class="uk-form-label") }}
                    {{ baseForm.last_name(class="uk-input") }}

                    {{ baseForm.email.label(class="uk-form-label") }}
                    {{ baseForm.email(class="uk-input") }}

                    {{ baseForm.password.label(class="uk-form-label") }}
                    {{ baseForm.password(class="uk-input") }}

                    {{ baseForm.institution.label(class="uk-form-label") }}
                    {{ baseForm.institution(class="uk-select") }}
                    
                    {{ baseForm.faculty.label(class="uk-form-label") }}
                    {{ baseForm.faculty(class="uk-select") }}

                    {{ baseForm.department.label(class="uk-form-label") }}
                    {{ baseForm.department(class="uk-select") }}




                    <div class="uk-button uk-box-shadow-hover-small uk-background-muted uk-border-pill" uk-toggle="cls: selected uk-background-primary uk-light; animation: uk-animation-fade">Test1</div>
                    <div class="uk-button uk-box-shadow-hover-small uk-background-muted uk-border-pill" uk-toggle="cls: selected uk-background-primary uk-light; animation: uk-animation-fade">Test2</div>
                    <div class="uk-button uk-box-shadow-hover-small uk-background-muted uk-border-pill" uk-toggle="cls: selected uk-background-primary uk-light; animation: uk-animation-fade">Test3</div>
                    
                </form>
                
                    
                </div>
            </div>

            <div>
                <h1 class="uk-text-large uk-text-center">Researcher Sign Up</h1>
            </div>
        </div>
</div>
{% endblock%}